<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>admin</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A300%2C500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A700"/>
  <link rel="stylesheet" href="static\css\admin.css"/>
  <script>
       document.addEventListener("DOMContentLoaded", function() {
         // Find the "Add/Edit Course" button by its ID
         var addEditCourseBtn = document.querySelector('#addEditCourseBtn');
     
         // Add a click event listener to the "Add/Edit Course" button
         addEditCourseBtn.addEventListener('click', function() {
           // Redirect to edit.html
           window.location.href = "/edit";
         });
     
         // Find the "Add/Edit Faculty" button by its ID
         var addEditFacultyBtn = document.querySelector('#addEditFacultyBtn');
     
         // Add a click event listener to the "Add/Edit Faculty" button
         addEditFacultyBtn.addEventListener('click', function() {
           // Redirect to faculty.html
           window.location.href = "/facultyedit";
         });
       });
       document.addEventListener("DOMContentLoaded", function () {
    // Find the "Generate Timetable" button by its ID
    var generateTimetableBtn = document.querySelector('#generateTimetableBtn');

    // Add a click event listener to the "Generate Timetable" button
   

// Add a click event listener to the "Generate Timetable" button
generateTimetableBtn.addEventListener('click', function () {
    // Redirect to timetable.html
    window.location.href = '/timetable';
});


    // Function to make an AJAX request to app.py to generate timetable
    
});

   
</script>
</head>
<body>
       
<div class="admin-b69">
  <div class="group-15-Knq">
    <div class="leftnavbar-fbo">
      <div class="auto-group-nsts-nwK">
        <div class="auto-group-xhzh-ipy">
          <div class="group-2-eTj">
            <img class="mastercard-logo-bNy" src="static\images\mastercard-logo.png"/>
            <div class="welcome-vAM">
            WELCOME
            <br/>
            
            </div>
          </div>
        </div>
        <div class="auto-group-wzdo-AqP">
          <div class="rectangle-2-Jwb">
          </div>
          <img class="group-1-dys" src="static\images\group-1.png"/>
          <div class="course-BVb">COURSE</div>
          <img class="books-Na5" src="static\images\books.png"/>
          <div class="group-31-VPo">
            <div class="rectangle-19-1sw">
            </div>
            <img class="group-k4q" src="static\images\group-TfF.png"/>
            <img class="bottom-UFj" src="static\images\bottom-sPw.png"/>
            <p class="admin-1WZ">Admin</p>
          </div>
          <div class="group-32-7Jh">
            <div class="rectangle-17-eZX">
            </div>
            <img class="geeme069-aTB" src="static\images\geeme069-Dn9.png"/>
            <img class="bottom-uEZ" src="static\images\bottom-kLZ.png"/>
            <p class="student-3Lm">Student</p>
          </div>
          <div class="group-31-Lqf">
            <div class="rectangle-18-sah">
            </div>
            <img class="group-Qad" src="static\images\group-gyF.png"/>
            <img class="bottom-E3s" src="static\images\bottom-PxV.png"/>
            <p class="teacher-MeH">Teacher</p>
          </div>
        </div>
      </div>
      <div class="auto-group-s1bx-FzZ">
        <div class="group-12-omB">
          <div class="group-10-F7P">
            <img class="search-afT" src="static\images\search.png"/>
          </div>
          <div class="group-11-6th">
            <img class="add-reminder-qrH" src="static\images\add-reminder-gjs.png"/>
          </div>
        </div>
        
        <div class="group-7-a3B">
          <div class="auto-group-mfms-tZf">
            
            <div class="button-course-XMj" id="addEditCourseBtn">
              Add/Edit Course
            </div>
            <!-- Add/Edit Faculty Button -->
            <div class="button-faculty-XMj" id="addEditFacultyBtn">
              Add/Edit Faculty
            </div>
           
          </div>
          <div class="line-2-pLq">
          </div>
          <div class="button-generate-timetable" id="generateTimetableBtn">
              Generate Timetable
       </div>
       <p class="automatic-timetable-generator-the-course-planner-for-colleges-offers-a-user-friendly-interface-for-effortless-timetable-customization-this-tool-empowers-administrators-to-input-and-tailor-course-details-encompassing-theory-and-practical-courses-along-with-faculty-assignments-fub">
        
        </div>
        
      </div>
    </div>
    <p class="automatic-timetable-generator-the-course-planner-for-colleges-offers-a-user-friendly-interface-for-effortless-timetable-customization-this-tool-empowers-administrators-to-input-and-tailor-course-details-encompassing-theory-and-practical-courses-along-with-faculty-assignments-fub">
        
    <img class="line-1-42d" src="static\images\line-1.png"/>
  </div>
</div>
</body>