<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>faculty</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A300%2C500"/>
  <link rel="stylesheet" href="static\css\faculty.css"/>
</head>
<body>
<div class="faculty-Q4Z">
  <div class="auto-group-f1qb-9Xw">
    <div class="leftnavbar-Hu3">
      <div class="auto-group-kett-1q3">
        <div class="auto-group-h5iy-M8D">
          <div class="group-2-gAV">
            <img class="mastercard-logo-q3P" src="static\images\mastercard-logo-i2u.png"/>
            <div class="welcome-YiV">
            WELCOME
            <br/>
            
            </div>
          </div>
        </div>
        <div class="auto-group-wypm-2Nm">
          <div class="rectangle-2-Zdb">
          </div>
          <img class="group-1-67j" src="static\images\group-1-bCd.png"/>
          <div class="course-32y">COURSE</div>
          <img class="books-84R" src="static\images\books-FUD.png"/>
          <div class="group-33-TMb">
            <div class="rectangle-19-nuf">
            </div>
            <img class="group-Kub" src="static\images\group-7oo.png"/>
            <img class="bottom-TF7" src="static\images\bottom-E6D.png"/>
            <p class="admin-zF3">Admin</p>
          </div>
          <div class="group-32-Uvu">
            <div class="rectangle-17-R5T">
            </div>
            <img class="geeme069-9n9" src="static\images\geeme069-WBK.png"/>
            <img class="bottom-UpR" src="static\images\bottom-vXT.png"/>
            <p class="student-dBX">Student</p>
          </div>
          <div class="group-31-XGu">
            <div class="rectangle-18-4Xj">
            </div>
            <img class="group-zRP" src="static\images\group-5hs.png"/>
            <img class="bottom-uoF" src="static\images\bottom-pU1.png"/>
            <p class="teacher-rCh">Teacher</p>
          </div>
        </div>
      </div>
      <div class="auto-group-g8z5-k3B">
        <div class="group-12-tfB">
          <div class="nov-2021-sunday-e8Z">07 Nov 2021, Sunday</div>
          <div class="group-10-w7f">
            <img class="search-fZT" src="static\images\search-7Q5.png"/>
          </div>
          <div class="group-11-oQm">
            <img class="add-reminder-kL1" src="static\images\add-reminder.png"/>
          </div>
        </div>
        <div class="group-7-5NH">
          <div class="auto-group-rs7b-CC1">
            <div class="courses-KGd">Courses</div>
            <div class="button-primary-qEy">Add</div>
          </div>
          <div class="line-2-vXK">
          </div>
          <div class="auto-group-nrsd-fUu">
            <div class="auto-group-xhfw-o5K">
              <p class="text-vQq">1</p>
              <p class="text-41F">UIT2401</p>
              <div class="auto-group-k9y3-oDj">
                <div class="status-indicator-9Hb">Data structures</div>
                <div class="status-indicator-eEM">John Davis</div>
                <img class="edit-wUM" src="static\images\edit.png"/>
              </div>
            </div>
            <div class="auto-group-yn57-UDP">
              <p class="item-2-6Em">2</p>
              <p class="text-cD7">UIT3402</p>
              <div class="status-indicator-MAh">Design Patterns</div>
              <div class="status-indicator-FG5">Peter Hutson</div>
              <img class="edit-xAV" src="static\images\edit-Pt5.png"/>
            </div>
            <div class="auto-group-mdrr-5ku">
              <p class="item-3-ogu">3</p>
              <p class="text-LRw">UMA2776</p>
              <div class="auto-group-7vkq-V3w">
                <div class="status-indicator-q7o">Discrete Maths</div>
                <div class="status-indicator-kkZ">Anitha</div>
                <img class="edit-sqB" src="static\images\edit-ofF.png"/>
              </div>
            </div>
            <div class="auto-group-zcju-1wP">
              <p class="header-k8H">S.No</p>
              <p class="header-H8D">Courseid</p>
              <p class="course-name-cwB">Course Name</p>
              <p class="lecturer-knV">Lecturer</p>
            </div>
            <div class="line-5-hhj">
            </div>
            <div class="line-6-eN5">
            </div>
            <div class="line-7-zRw">
            </div>
            <div class="line-8-8Y9">
            </div>
          </div>
        </div>
      </div>
    </div>
    <img class="line-1-cCR" src="static\images\line-1-HNh.png"/>
  </div>
</div>
</body>