<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>homepage</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="static\css\homepage.css"/>
</head>
<body>
<div class="homepage-FAR">
  <div class="background-C5f">
    <div class="rectangle-wow">
    </div>
    <div class="asset-01-rvu">
      <img class="union-mY5" src="./assets/union-be1.png"/>
      <div class="rectangle-Vys">
      </div>
      <div class="rectangle-daH">
      </div>
      <div class="rectangle-Aq7">
      </div>
      <img class="union-6Ts" src="./assets/union-CrM.png"/>
      <img class="union-SGq" src="./assets/union-Z2H.png"/>
      <img class="union-z3T" src="./assets/union.png"/>
      <img class="vector-LND" src="./assets/vector.png"/>
      <div class="group-31-H2Z">
        <div class="rectangle-17-1UM">
        </div>
        <img class="geeme069-LWd" src="./assets/geeme069-EHf.png"/>
        <img class="bottom-GQH" src="./assets/bottom.png"/>
        <p class="student-1Ms">Student</p>
      </div>
    </div>
    <div class="header-6PK">
      <div class="auto-group-m4rp-3ZT">
        <img class="image-1-kyf" src="./assets/image-1.png"/>
        <div class="menu-fqj">
          <p class="home-Pmj">Home</p>
          <p class="features-SdX">Features</p>
          <p class="explore-BLD">Explore</p>
          <p class="about-7zZ">About</p>
        </div>
        <div class="button-primary-GMf">Login</div>
      </div>
      <div class="auto-group-hkmk-Ypy">
        <p class="automatic-timetable-generator-the-course-planner-for-colleges-offers-a-user-friendly-interface-for-effortless-timetable-customization-this-tool-empowers-administrators-to-input-and-tailor-course-details-encompassing-theory-and-practical-courses-along-with-faculty-assignments-fub">
          <span class="automatic-timetable-generator-the-course-planner-for-colleges-offers-a-user-friendly-interface-for-effortless-timetable-customization-this-tool-empowers-administrators-to-input-and-tailor-course-details-encompassing-theory-and-practical-courses-along-with-faculty-assignments-fub-sub-0">Automatic </span>
          <span class="automatic-timetable-generator-the-course-planner-for-colleges-offers-a-user-friendly-interface-for-effortless-timetable-customization-this-tool-empowers-administrators-to-input-and-tailor-course-details-encompassing-theory-and-practical-courses-along-with-faculty-assignments-fub-sub-1">Timetable</span>
          <span class="automatic-timetable-generator-the-course-planner-for-colleges-offers-a-user-friendly-interface-for-effortless-timetable-customization-this-tool-empowers-administrators-to-input-and-tailor-course-details-encompassing-theory-and-practical-courses-along-with-faculty-assignments-fub-sub-2">
           Generator
          <br/>
          
          <br/>
          
          </span>
          <span class="automatic-timetable-generator-the-course-planner-for-colleges-offers-a-user-friendly-interface-for-effortless-timetable-customization-this-tool-empowers-administrators-to-input-and-tailor-course-details-encompassing-theory-and-practical-courses-along-with-faculty-assignments-fub-sub-3">
          The course planner for colleges offers a 
          <br/>
          user-friendly interface for effortless
          <br/>
          timetable customization. This tool empowers
          <br/>
          administrators to input and tailor course details, 
          <br/>
          encompassing theory and practical courses, 
          <br/>
          along with faculty assignments.
          </span>
        </p>
        <div class="group-29-ME1">
          <div class="rectangle-19-VLD">
          </div>
          <img class="group-RDs" src="./assets/group-D8d.png"/>
          <img class="bottom-YZP" src="./assets/bottom-8UH.png"/>
          <p class="admin-5pD">Admin</p>
        </div>
      </div>
    </div>
    <div class="group-30-nTj">
      <div class="rectangle-18-i6V">
      </div>
      <img class="group-eF3" src="./assets/group.png"/>
      <img class="bottom-ADP" src="./assets/bottom-NW5.png"/>
      <p class="teacher-tv5">Teacher</p>
    </div>
  </div>
</div>
</body>