<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>login page</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="static\css\login-page.css"/>
</head>
<body>
<div class="login-page-5ms">
  <div class="background-6gy">
    <div class="loginbody-cHw">
      <div class="auto-group-bhk5-JwT">
        <p class="login-puo">Login</p>
        <p class="please-enter-you-login-and-your-password-hCu">Please enter you Login and your Password</p>
      </div>
      <div class="login-box-o13">
        <p class="username-or-e-mail-XSq">Username or E-mail</p>
        <img class="akar-icons-person-Cos" src="./assets/akar-icons-person.png"/>
        <div class="logininput-7fw">
        </div>
      </div>
      <div class="password-box-RRj">
        <p class="password-Znq">
        Password
        <br/>
        
        </p>
        <img class="carbon-password-UQ1" src="./assets/carbon-password.png"/>
        <div class="logininput-CL1">
        </div>
      </div>
      <p class="forgot-password-7hs">Forgot password?</p>
      <div class="btlogin-Qws">
      Login
      <br/>
      
      <br/>
      
      </div>
      <div class="text-geV">
        <img class="flat-color-icons-google-zv5" src="./assets/flat-color-icons-google.png"/>
        <p class="or-sign-in-with-google-vHw">Or sign-in with Google</p>
      </div>
      <div class="registertext-EJd">
        <p class="register-ATB">Register!</p>
        <p class="not-a-member-yet-mC5">Not a member yet?</p>
      </div>
    </div>
  </div>
</div>
</body>