
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.admin-b69 {
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;

  .group-15-Knq {
    width: 144.2999rem;
    height: 100%;
    position: relative;

    .leftnavbar-fbo {
      width: 142.8rem;
      height: 102.4rem;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: flex-start;

      .auto-group-nsts-nwK {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.9067rem;
        width: 24.4933rem;
        height: 100%;
        align-items: center;

        .auto-group-xhzh-ipy {
          background-color: #f7a400;
          border-radius: 0 0 5rem 0;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 5.2rem 0.184rem 5.3rem 0.184rem;
          width: 100%;
          height: 22.5rem;

          .group-2-eTj {
            width: 23.4383rem;
            height: 100%;
            display: flex;
            align-items: center;

            .mastercard-logo-bNy {
              height: 12rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.3373rem;
              width: 7.901rem;
            }
            .welcome-vAM {
              display: flex;
              font-weight: 700;
              line-height: 1.3390000661;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.0996rem;
              justify-content: center;
              font-size: 2.4rem;
              letter-spacing: 0.216rem;
              flex-shrink: 0;
              align-items: center;
            }
          }
        }
        .auto-group-wzdo-AqP {
          width: 100%;
          height: 79.9rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-2-Jwb {
            top: 7.4rem;
            background-color: #f7a400;
            border-radius: 0 5rem 0 0;
            width: 24.4933rem;
            height: 72.5rem;
            position: absolute;
            left: 0;
          }
          .group-1-dys {
            object-fit: contain;
            vertical-align: top;
            width: 9.2442rem;
            height: 7.4rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .course-BVb {
            display: flex;
            font-size: 2.4rem;
            justify-content: center;
            line-height: 1.3390000661;
            white-space: nowrap;
            color: #5c5c5c;
            width: 10.9rem;
            height: 3.3rem;
            left: 10.6072rem;
            top: 2.3rem;
            letter-spacing: 0.192rem;
            position: absolute;
            align-items: center;
            font-weight: 600;
            font-family: Poppins, 'Source Sans Pro';
          }
          .books-Na5 {
            width: 4.6rem;
            height: 3.6rem;
            position: absolute;
            left: 5.7rem;
            top: 2.3rem;
            object-fit: contain;
            vertical-align: top;
          }
          .group-31-VPo {
            width: 13.1rem;
            height: 14.4rem;
            position: absolute;
            left: 4.3rem;
            top: 14.3rem;

            .rectangle-19-1sw {
              width: 13.0622rem;
              height: 8.1243rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #f7a400;
              border-radius: 5rem 5rem 0 0;
            }
            .group-k4q {
              position: absolute;
              left: 2.794rem;
              top: 3.0466rem;
              object-fit: contain;
              vertical-align: top;
              width: 7.5859rem;
              height: 7.1728rem;
            }
            .bottom-UFj {
              vertical-align: top;
              width: 13.1rem;
              height: 6.2757rem;
              position: absolute;
              left: 0;
              top: 8.1243rem;
              object-fit: contain;
            }
            .admin-1WZ {
              width: 5.1rem;
              position: absolute;
              left: 4.016rem;
              text-align: center;
              font-size: 1.5rem;
              font-family: Poppins, 'Source Sans Pro';
              height: 2.3rem;
              top: 9.3787rem;
              font-weight: 600;
              line-height: 1.5;
              color: #12133d;
              white-space: nowrap;
            }
          }
          .group-32-7Jh {
            width: 13.1rem;
            height: 14.4rem;
            position: absolute;
            left: 4.3rem;
            top: 31.9rem;

            .rectangle-17-eZX {
              width: 13.0622rem;
              height: 8.1243rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #f7a400;
              border-radius: 5rem 5rem 0 0;
            }
            .geeme069-aTB {
              width: 4.2302rem;
              height: 10.3059rem;
              position: absolute;
              left: 4.4705rem;
              top: 2.6882rem;
              object-fit: contain;
              vertical-align: top;
            }
            .bottom-uEZ {
              width: 13.1rem;
              height: 6.2757rem;
              position: absolute;
              left: 0;
              top: 8.1243rem;
              object-fit: contain;
              vertical-align: top;
            }
            .student-3Lm {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              height: 2.3rem;
              left: 3.5rem;
              top: 9.4rem;
              font-weight: 600;
              line-height: 1.5;
              color: #12133d;
              width: 6.1rem;
              position: absolute;
              text-align: center;
              font-size: 1.5rem;
            }
          }
          .group-31-Lqf {
            position: absolute;
            left: 4.3rem;
            top: 48.6rem;
            width: 13.1rem;
            height: 14.4rem;

            .rectangle-18-sah {
              left: 0;
              top: 0;
              background-color: #f7a400;
              border-radius: 5rem 5rem 0 0;
              width: 13.0622rem;
              height: 8.1243rem;
              position: absolute;
            }
            .group-Qad {
              object-fit: contain;
              vertical-align: top;
              width: 3.8859rem;
              height: 9.3047rem;
              position: absolute;
              left: 4.6102rem;
              top: 2.9869rem;
            }
            .bottom-E3s {
              width: 13.1rem;
              height: 6.2757rem;
              position: absolute;
              left: 0;
              top: 8.1243rem;
              object-fit: contain;
              vertical-align: top;
            }
            .teacher-MeH {
              color: #12133d;
              font-family: Poppins, 'Source Sans Pro';
              left: 3.75rem;
              line-height: 1.5;
              position: absolute;
              top: 9.4rem;
              text-align: center;
              font-size: 1.5rem;
              font-weight: 600;
              white-space: nowrap;
              width: 6.3rem;
              height: 2.3rem;
            }
          }
        }
      }
      .auto-group-s1bx-FzZ {
        flex-direction: column;
        flex-shrink: 0;
        margin-top: 2.8rem;
        align-items: flex-end;
        display: flex;

        .group-12-omB {
          height: 4.5rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 7.3rem;

          .nov-2021-sunday-MXo {
            flex-shrink: 0;
            margin: 0rem 4.73rem 0.1rem 0rem;
            align-items: center;
            font-size: 1.4rem;
            letter-spacing: 0.14rem;
            color: #1f40a8;
            font-family: Montserrat, 'Source Sans Pro';
            display: flex;
            justify-content: center;
            font-weight: 700;
            line-height: 1.3390000207;
            white-space: nowrap;
          }
          .group-10-F7P {
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin-right: 1.845rem;
            box-sizing: border-box;
            padding: 1.2rem 1.722rem 1.2rem 1.599rem;
            height: 100%;
            background-color: #f3f3f3;

            .search-afT {
              width: 2.8291rem;
              height: 2.1rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .group-11-6th {
            border-radius: 0.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.1rem 1.722rem 1.1rem 1.599rem;
            height: 100%;
            background-color: #ffeeea;

            .add-reminder-qrH {
              width: 2.8291rem;
              height: 2.3rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .group-7-a3B {
          align-items: center;
          width: 114.9rem;
          display: flex;
          flex-direction: column;
          background-color: #f5f5f5;
          border-radius: 6rem;
          margin-right: 0.5rem;
          box-sizing: border-box;
          padding: 1.588rem 1.7rem 7.2rem 3.2rem;
          flex-shrink: 0;

          .auto-group-mfms-tZf {
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 1.326rem 1.317rem 3.451rem;
            width: calc(100% - 4.7766rem);
            height: 5.6rem;
            display: flex;

            .courses-cVf {
              display: flex;
              align-items: center;
              font-weight: 600;
              letter-spacing: 0.192rem;
              white-space: nowrap;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0rem 84.823rem 0.884rem 0rem;
              justify-content: center;
              font-size: 2.4rem;
              line-height: 1.3390000661;
              color: #767676;
            }
            .button-primary-XMj {
              font-size: 1.6rem;
              display: flex;
              height: 100%;
              font-weight: 600;
              border-radius: 10rem;
              flex-shrink: 0;
              width: auto;
              text-align: center;
              line-height: 1.5;
              align-items: center;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              justify-content: center;
              background-color: #1f40a8;
            }
          }
          .line-2-pLq {
            background-color: #c0c0c0;
            flex-shrink: 0;
            margin-bottom: 4.9953rem;
            width: 100%;
            height: 0.2rem;
          }
          .frame-2-mG5 {
            height: 56.8rem;
            position: relative;
            overflow: hidden;
            box-sizing: border-box;
            border-radius: 4.0094rem;
            flex-shrink: 0;
            margin-right: 3.0845rem;
            width: 105.9153rem;
            border: solid 0.1671rem #8e97a3;

            .table-column-HkD {
              display: flex;
              flex-direction: column;
              width: 27.6482rem;
              height: 56.8rem;
              position: absolute;
              left: 0;
              top: 0;
              align-items: center;
              overflow: hidden;

              .header-d3P {
                width: 100%;
                font-size: 1.6rem;
                font-family: Roboto, 'Source Sans Pro';
                padding: 2.673rem 2.673rem 4.073rem 2.673rem;
                overflow: hidden;
                font-weight: 500;
                flex-shrink: 0;
                box-sizing: border-box;
                line-height: 1.25;
                background-color: #ffffff;
                position: relative;
                color: #1f40a8;
                white-space: nowrap;
                box-shadow: inset 0 -0.3341rem 0 #e3e5e8;
              }
              .table-contents-5vy {
                width: 100%;
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .cell-25X {
                  width: 100%;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  color: #444b54;
                  box-sizing: border-box;
                  padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                  overflow: hidden;
                  position: relative;
                  font-size: 1.6rem;
                  font-weight: 300;
                  line-height: 1.25;
                  background-color: #ffffff;
                }
                .cell-ij3 {
                  font-weight: 300;
                  line-height: 1.25;
                  color: #444b54;
                  background-color: #f5f5f5;
                  padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                  width: 100%;
                  position: relative;
                  font-size: 1.6rem;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  overflow: hidden;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .cell-R7f {
                  line-height: 1.25;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  background-color: #ffffff;
                  padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                  position: relative;
                  font-weight: 300;
                  font-size: 1.6rem;
                  color: #444b54;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  width: 100%;
                  overflow: hidden;
                }
                .auto-group-yhgm-Jx9 {
                  width: 100%;
                  height: 16.0965rem;
                  position: relative;
                  flex-shrink: 0;
                  margin-bottom: 0rem;

                  .cell-rim {
                    background-color: #f5f5f5;
                    width: 27.6482rem;
                    height: 8.0188rem;
                    position: absolute;
                    left: 0;
                    top: 0;
                    overflow: hidden;
                  }
                  .cell-zKB {
                    width: 27.6482rem;
                    height: 8.0776rem;
                    position: absolute;
                    left: 0;
                    top: 8.0188rem;
                    overflow: hidden;
                    background-color: #ffffff;
                  }
                }
                .cell-8AV {
                  width: 100%;
                  height: 8.0776rem;
                  overflow: hidden;
                  position: relative;
                  background-color: #ffffff;
                  flex-shrink: 0;
                  margin-bottom: 0rem;
                }
                .cell-UVF {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 0rem;
                  box-sizing: border-box;
                  padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                  font-size: 1.6rem;
                  line-height: 1.25;
                  background-color: #ffffff;
                  font-weight: 300;
                  flex-shrink: 0;
                  width: 100%;
                  overflow: hidden;
                  position: relative;
                  color: #444b54;
                }
                .cell-8ph {
                  padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                  font-size: 1.6rem;
                  white-space: nowrap;
                  margin-bottom: 0rem;
                  position: relative;
                  font-weight: 300;
                  line-height: 1.25;
                  color: #444b54;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  width: 100%;
                  overflow: hidden;
                  font-family: Roboto, 'Source Sans Pro';
                  background-color: #ffffff;
                }
                .cell-qDK {
                  padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                  overflow: hidden;
                  font-size: 1.6rem;
                  font-family: Roboto, 'Source Sans Pro';
                  background-color: #ffffff;
                  width: 100%;
                  font-weight: 300;
                  line-height: 1.25;
                  color: #444b54;
                  white-space: nowrap;
                  box-sizing: border-box;
                  height: 8.0776rem;
                  position: relative;
                  flex-shrink: 0;
                }
                .cell-7wX {
                  width: 100%;
                  background-color: #ffffff;
                  flex-shrink: 0;
                  font-family: Roboto, 'Source Sans Pro';
                  box-sizing: border-box;
                  padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                  position: relative;
                  font-weight: 300;
                  color: #444b54;
                  height: 8.0776rem;
                  overflow: hidden;
                  font-size: 1.6rem;
                  line-height: 1.25;
                  white-space: nowrap;
                }
                .cell-RBX {
                  white-space: nowrap;
                  background-color: #ffffff;
                  overflow: hidden;
                  position: relative;
                  color: #444b54;
                  font-family: Roboto, 'Source Sans Pro';
                  width: 100%;
                  font-weight: 300;
                  flex-shrink: 0;
                  line-height: 1.25;
                  box-sizing: border-box;
                  padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                  height: 8.0776rem;
                  font-size: 1.6rem;
                }
                .cell-6YZ {
                  font-size: 1.6rem;
                  width: 100%;
                  font-weight: 300;
                  background-color: #ffffff;
                  padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                  position: relative;
                  line-height: 1.25;
                  flex-shrink: 0;
                  overflow: hidden;
                  height: 8.0776rem;
                  color: #444b54;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  box-sizing: border-box;
                }
                .cell-bkD {
                  box-sizing: border-box;
                  width: 100%;
                  height: 8.0776rem;
                  overflow: hidden;
                  padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                  font-size: 1.6rem;
                  color: #444b54;
                  position: relative;
                  font-weight: 300;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  line-height: 1.25;
                  background-color: #ffffff;
                  flex-shrink: 0;
                }
                .cell-Vqb {
                  height: 8.0776rem;
                  overflow: hidden;
                  font-weight: 300;
                  box-sizing: border-box;
                  padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                  flex-shrink: 0;
                  width: 100%;
                  position: relative;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  background-color: #ffffff;
                  font-size: 1.6rem;
                  line-height: 1.25;
                  color: #444b54;
                }
                .cell-zGZ {
                  white-space: nowrap;
                  line-height: 1.25;
                  color: #444b54;
                  font-family: Roboto, 'Source Sans Pro';
                  font-weight: 300;
                  padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                  width: 100%;
                  height: 8.0776rem;
                  background-color: #ffffff;
                  box-sizing: border-box;
                  position: relative;
                  font-size: 1.6rem;
                  overflow: hidden;
                  flex-shrink: 0;
                }
              }
            }
            .table-column-537 {
              align-items: center;
              width: 37.0871rem;
              height: 56.8rem;
              position: absolute;
              top: 0;
              left: 27.6482rem;
              overflow: hidden;
              display: flex;
              flex-direction: column;

              .header-bXF {
                background-color: #ffffff;
                padding: 2.673rem 2.673rem 4.073rem 2.673rem;
                box-shadow: inset 0 -0.3341rem 0 #e3e5e8;
                color: #1f40a8;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
                box-sizing: border-box;
                overflow: hidden;
                font-weight: 500;
                line-height: 1.25;
                width: 100%;
                position: relative;
                font-size: 1.6rem;
                white-space: nowrap;
              }
              .table-contents-G7b {
                flex-direction: column;
                flex-shrink: 0;
                width: 100%;
                align-items: center;
                display: flex;

                .cell-bff {
                  line-height: 1.25;
                  font-family: Roboto, 'Source Sans Pro';
                  background-color: #ffffff;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                  width: 100%;
                  overflow: hidden;
                  position: relative;
                  font-weight: 300;
                  color: #444b54;
                  white-space: nowrap;
                  box-sizing: border-box;
                }
                .cell-hyb {
                  width: 100%;
                  position: relative;
                  font-size: 1.6rem;
                  line-height: 1.25;
                  background-color: #f5f5f5;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                  color: #444b54;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  overflow: hidden;
                  font-weight: 300;
                }
                .auto-group-ikmp-p2d {
                  margin-bottom: 0rem;
                  width: 100%;
                  height: 16.1553rem;
                  position: relative;
                  flex-shrink: 0;

                  .cell-ZW1 {
                    box-sizing: border-box;
                    font-weight: 300;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    width: 37.0871rem;
                    height: 8.0776rem;
                    top: 0;
                    line-height: 1.25;
                    color: #444b54;
                    position: absolute;
                    left: 0;
                    font-size: 1.6rem;
                    padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                    overflow: hidden;
                    background-color: #ffffff;
                  }
                  .cell-Es3 {
                    overflow: hidden;
                    background-color: #f5f5f5;
                    width: 37.0871rem;
                    height: 8.0776rem;
                    position: absolute;
                    left: 0;
                    top: 8.0776rem;
                  }
                }
                .cell-yZj {
                  margin-bottom: 0rem;
                  width: 100%;
                  height: 8.0776rem;
                  overflow: hidden;
                  position: relative;
                  background-color: #ffffff;
                  flex-shrink: 0;
                }
                .cell-8Sd {
                  overflow: hidden;
                  position: relative;
                  background-color: #ffffff;
                  flex-shrink: 0;
                  margin-bottom: 0rem;
                  width: 100%;
                  height: 8.0776rem;
                }
                .cell-gj3 {
                  position: relative;
                  line-height: 1.25;
                  font-family: Roboto, 'Source Sans Pro';
                  padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                  font-size: 1.6rem;
                  background-color: #ffffff;
                  overflow: hidden;
                  color: #444b54;
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0rem;
                  box-sizing: border-box;
                  width: 100%;
                  font-weight: 300;
                }
                .cell-Nbs {
                  overflow: hidden;
                  background-color: #ffffff;
                  font-size: 1.6rem;
                  line-height: 1.25;
                  color: #444b54;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 0rem;
                  padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                  box-sizing: border-box;
                  position: relative;
                  flex-shrink: 0;
                  width: 100%;
                  font-weight: 300;
                }
                .cell-TtD {
                  width: 100%;
                  font-weight: 300;
                  white-space: nowrap;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                  height: 8.0776rem;
                  overflow: hidden;
                  color: #444b54;
                  font-family: Roboto, 'Source Sans Pro';
                  position: relative;
                  font-size: 1.6rem;
                  line-height: 1.25;
                  background-color: #ffffff;
                }
                .cell-Bxd {
                  width: 100%;
                  height: 8.0776rem;
                  color: #444b54;
                  box-sizing: border-box;
                  padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                  font-weight: 300;
                  line-height: 1.25;
                  overflow: hidden;
                  position: relative;
                  white-space: nowrap;
                  background-color: #ffffff;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-family: Roboto, 'Source Sans Pro';
                }
                .cell-tc9 {
                  height: 8.0776rem;
                  box-sizing: border-box;
                  position: relative;
                  font-family: Roboto, 'Source Sans Pro';
                  background-color: #ffffff;
                  padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                  overflow: hidden;
                  font-weight: 300;
                  line-height: 1.25;
                  flex-shrink: 0;
                  width: 100%;
                  font-size: 1.6rem;
                  color: #444b54;
                  white-space: nowrap;
                }
                .cell-ydb {
                  height: 8.0776rem;
                  width: 100%;
                  box-sizing: border-box;
                  font-size: 1.6rem;
                  font-weight: 300;
                  font-family: Roboto, 'Source Sans Pro';
                  background-color: #ffffff;
                  flex-shrink: 0;
                  margin-bottom: 0rem;
                  overflow: hidden;
                  position: relative;
                  line-height: 1.25;
                  color: #444b54;
                  padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                  white-space: nowrap;
                }
                .auto-group-7u2v-sDB {
                  width: 100%;
                  height: 16.1553rem;
                  position: relative;
                  flex-shrink: 0;

                  .cell-pPK {
                    left: 0;
                    top: 0;
                    font-weight: 300;
                    color: #444b54;
                    box-sizing: border-box;
                    width: 37.0871rem;
                    padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                    white-space: nowrap;
                    background-color: #ffffff;
                    overflow: hidden;
                    line-height: 1.25;
                    font-size: 1.6rem;
                    font-family: Roboto, 'Source Sans Pro';
                    height: 8.0776rem;
                    position: absolute;
                  }
                  .cell-te5 {
                    position: absolute;
                    line-height: 1.25;
                    background-color: #ffffff;
                    box-sizing: border-box;
                    width: 37.0871rem;
                    white-space: nowrap;
                    left: 0;
                    font-size: 1.6rem;
                    font-weight: 300;
                    font-family: Roboto, 'Source Sans Pro';
                    height: 8.0776rem;
                    overflow: hidden;
                    color: #444b54;
                    padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                    top: 8.0776rem;
                  }
                }
                .cell-mxm {
                  padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                  height: 8.0776rem;
                  background-color: #ffffff;
                  font-size: 1.6rem;
                  font-family: Roboto, 'Source Sans Pro';
                  position: relative;
                  box-sizing: border-box;
                  width: 100%;
                  overflow: hidden;
                  font-weight: 300;
                  line-height: 1.25;
                  color: #444b54;
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .cell-HAR {
                  padding: 2.339rem 2.673rem 3.739rem 2.673rem;
                  position: relative;
                  color: #444b54;
                  box-sizing: border-box;
                  width: 100%;
                  height: 8.0776rem;
                  overflow: hidden;
                  line-height: 1.25;
                  font-size: 1.6rem;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  font-weight: 300;
                  background-color: #ffffff;
                  flex-shrink: 0;
                }
              }
            }
            .table-column-afK {
              width: 27.6482rem;
              left: 64.7353rem;
              display: flex;
              height: 56.8rem;
              position: absolute;
              top: 0;
              overflow: hidden;
              align-items: center;
              flex-direction: column;

              .header-JbK {
                overflow: hidden;
                position: relative;
                font-size: 1.6rem;
                background-color: #ffffff;
                font-weight: 500;
                color: #1f40a8;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 2.673rem 2.673rem 4.073rem 2.673rem;
                width: 100%;
                line-height: 1.25;
                font-family: Roboto, 'Source Sans Pro';
                box-shadow: inset 0 -0.3341rem 0 #e3e5e8;
                white-space: nowrap;
              }
              .table-contents-nmP {
                width: 100%;
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .cell-WhP {
                  box-sizing: border-box;
                  padding: 2.339rem 2.673rem 3.4rem 2.673rem;
                  width: 100%;
                  height: 8.0776rem;
                  overflow: hidden;
                  position: relative;
                  background-color: #ffffff;
                  flex-shrink: 0;

                  .status-indicator-rFT {
                    margin-right: 11.5023rem;
                    font-weight: 300;
                    line-height: 1.25;
                    white-space: nowrap;
                    width: 10.8rem;
                    height: 100%;
                    font-size: 1.6rem;
                    color: #444b54;
                    font-family: Roboto, 'Source Sans Pro';
                  }
                }
                .cell-xJV {
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 2.339rem 2.673rem 3.4rem 2.673rem;
                  width: 100%;
                  height: 8.0776rem;
                  overflow: hidden;
                  position: relative;
                  background-color: #f5f5f5;

                  .status-indicator-h1B {
                    width: 11.2rem;
                    height: 100%;
                    font-size: 1.6rem;
                    color: #444b54;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    margin-right: 11.1023rem;
                    font-weight: 300;
                    line-height: 1.25;
                  }
                }
                .cell-NND {
                  box-sizing: border-box;
                  padding: 2.339rem 2.673rem 3.4rem 2.673rem;
                  width: 100%;
                  height: 8.0776rem;
                  overflow: hidden;
                  position: relative;
                  background-color: #ffffff;
                  flex-shrink: 0;

                  .status-indicator-fs7 {
                    font-size: 1.6rem;
                    line-height: 1.25;
                    color: #444b54;
                    white-space: nowrap;
                    margin-right: 11.7023rem;
                    height: 100%;
                    font-weight: 300;
                    font-family: Roboto, 'Source Sans Pro';
                    width: 10.6rem;
                  }
                }
                .auto-group-mrbt-9nH {
                  width: 100%;
                  height: 16.0376rem;
                  position: relative;
                  flex-shrink: 0;

                  .cell-JQH {
                    vertical-align: top;
                    width: 27.6482rem;
                    height: 8.0188rem;
                    position: absolute;
                    left: 0;
                    top: 0;
                    object-fit: contain;
                  }
                  .cell-FKX {
                    left: 0;
                    overflow: hidden;
                    background-color: #ffffff;
                    height: 8.0188rem;
                    position: absolute;
                    top: 8.0188rem;
                    box-sizing: border-box;
                    padding: 2.339rem 2.673rem 3.341rem 2.673rem;
                    width: 27.6482rem;

                    .status-indicator-Nf3 {
                      width: 8.5729rem;
                      height: 100%;
                    }
                  }
                }
                .cell-Job {
                  background-color: #ffffff;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 2.339rem 2.673rem 3.341rem 2.673rem;
                  width: 100%;
                  height: 8.0188rem;
                  overflow: hidden;
                  position: relative;

                  .status-indicator-qYd {
                    width: 8.6729rem;
                    height: 100%;
                  }
                }
                .cell-P4M {
                  box-sizing: border-box;
                  padding: 2.339rem 2.673rem 3.371rem 2.673rem;
                  height: 8.0776rem;
                  background-color: #ffffff;
                  flex-shrink: 0;
                  margin-bottom: 0rem;
                  width: 100%;
                  overflow: hidden;
                  position: relative;

                  .status-indicator-7W9 {
                    width: 8.6729rem;
                    height: 100%;
                    display: flex;
                    align-items: flex-end;

                    .ellipse-1-fXf {
                      border-radius: 0.6682rem;
                      flex-shrink: 0;
                      margin-right: 1.3365rem;
                      width: 1.3365rem;
                      height: 1.3365rem;
                      background-color: #66cca7;
                    }
                    .success-bAR {
                      font-weight: 300;
                      line-height: 1.25;
                      color: #444b54;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-bottom: 0.3682rem;
                      font-size: 1.6rem;
                    }
                  }
                }
                .cell-WYH {
                  padding: 2.339rem 2.673rem 3.371rem 2.673rem;
                  height: 8.0776rem;
                  overflow: hidden;
                  position: relative;
                  flex-shrink: 0;
                  margin-bottom: 0rem;
                  box-sizing: border-box;
                  width: 100%;
                  background-color: #ffffff;

                  .status-indicator-3HK {
                    width: 8.6729rem;
                    height: 100%;
                    display: flex;
                    align-items: flex-end;

                    .ellipse-1-b3w {
                      border-radius: 0.6682rem;
                      flex-shrink: 0;
                      margin-right: 1.3365rem;
                      width: 1.3365rem;
                      height: 1.3365rem;
                      background-color: #66cca7;
                    }
                    .success-8Jm {
                      color: #444b54;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-bottom: 0.3682rem;
                      font-size: 1.6rem;
                      font-weight: 300;
                      line-height: 1.25;
                    }
                  }
                }
                .cell-Qn5 {
                  height: 8.0776rem;
                  overflow: hidden;
                  position: relative;
                  background-color: #ffffff;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 2.339rem 2.673rem 3.371rem 2.673rem;
                  width: 100%;

                  .status-indicator-YNV {
                    height: 100%;
                    display: flex;
                    align-items: flex-end;
                    width: 8.6729rem;

                    .ellipse-1-VYd {
                      flex-shrink: 0;
                      margin-right: 1.3365rem;
                      width: 1.3365rem;
                      height: 1.3365rem;
                      background-color: #66cca7;
                      border-radius: 0.6682rem;
                    }
                    .success-ct9 {
                      margin-bottom: 0.3682rem;
                      font-size: 1.6rem;
                      font-weight: 300;
                      line-height: 1.25;
                      color: #444b54;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                  }
                }
                .cell-xBK {
                  overflow: hidden;
                  position: relative;
                  background-color: #ffffff;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 2.339rem 2.673rem 3.371rem 2.673rem;
                  width: 100%;
                  height: 8.0776rem;

                  .status-indicator-UvM {
                    align-items: flex-end;
                    width: 8.6729rem;
                    height: 100%;
                    display: flex;

                    .ellipse-1-S6V {
                      border-radius: 0.6682rem;
                      flex-shrink: 0;
                      margin-right: 1.3365rem;
                      width: 1.3365rem;
                      height: 1.3365rem;
                      background-color: #66cca7;
                    }
                    .success-Zgu {
                      line-height: 1.25;
                      color: #444b54;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-bottom: 0.3682rem;
                      font-size: 1.6rem;
                      font-weight: 300;
                    }
                  }
                }
                .cell-6Rw {
                  padding: 2.339rem 2.673rem 3.371rem 2.673rem;
                  width: 100%;
                  height: 8.0776rem;
                  overflow: hidden;
                  position: relative;
                  background-color: #ffffff;
                  flex-shrink: 0;
                  box-sizing: border-box;

                  .status-indicator-Rj7 {
                    width: 8.6729rem;
                    height: 100%;
                    display: flex;
                    align-items: flex-end;

                    .ellipse-1-zGR {
                      height: 1.3365rem;
                      background-color: #66cca7;
                      border-radius: 0.6682rem;
                      flex-shrink: 0;
                      margin-right: 1.3365rem;
                      width: 1.3365rem;
                    }
                    .success-KZb {
                      color: #444b54;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-bottom: 0.3682rem;
                      font-size: 1.6rem;
                      font-weight: 300;
                      line-height: 1.25;
                    }
                  }
                }
                .cell-TQu {
                  height: 8.0776rem;
                  overflow: hidden;
                  position: relative;
                  background-color: #ffffff;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 2.339rem 2.673rem 3.371rem 2.673rem;
                  width: 100%;

                  .status-indicator-PpM {
                    width: 8.6729rem;
                    height: 100%;
                    display: flex;
                    align-items: flex-end;

                    .ellipse-1-9Hj {
                      background-color: #66cca7;
                      border-radius: 0.6682rem;
                      flex-shrink: 0;
                      margin-right: 1.3365rem;
                      width: 1.3365rem;
                      height: 1.3365rem;
                    }
                    .success-5hB {
                      flex-shrink: 0;
                      margin-bottom: 0.3682rem;
                      font-size: 1.6rem;
                      font-weight: 300;
                      line-height: 1.25;
                      color: #444b54;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                  }
                }
                .cell-26d {
                  width: 100%;
                  height: 8.0776rem;
                  overflow: hidden;
                  position: relative;
                  background-color: #ffffff;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 2.339rem 2.673rem 3.371rem 2.673rem;

                  .status-indicator-kYR {
                    width: 8.6729rem;
                    height: 100%;
                    display: flex;
                    align-items: flex-end;

                    .ellipse-1-785 {
                      flex-shrink: 0;
                      margin-right: 1.3365rem;
                      width: 1.3365rem;
                      height: 1.3365rem;
                      background-color: #66cca7;
                      border-radius: 0.6682rem;
                    }
                    .success-rLZ {
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-bottom: 0.3682rem;
                      font-size: 1.6rem;
                      font-weight: 300;
                      line-height: 1.25;
                      color: #444b54;
                    }
                  }
                }
                .cell-zSm {
                  height: 8.0776rem;
                  overflow: hidden;
                  position: relative;
                  background-color: #ffffff;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 2.339rem 2.673rem 3.371rem 2.673rem;
                  width: 100%;

                  .status-indicator-8Yy {
                    width: 8.6729rem;
                    height: 100%;
                    display: flex;
                    align-items: flex-end;

                    .ellipse-1-VPX {
                      flex-shrink: 0;
                      margin-right: 1.3365rem;
                      width: 1.3365rem;
                      height: 1.3365rem;
                      background-color: #66cca7;
                      border-radius: 0.6682rem;
                    }
                    .success-E6D {
                      color: #444b54;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-bottom: 0.3682rem;
                      font-size: 1.6rem;
                      font-weight: 300;
                      line-height: 1.25;
                    }
                  }
                }
                .cell-Mgd {
                  height: 8.0776rem;
                  overflow: hidden;
                  position: relative;
                  background-color: #ffffff;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 2.339rem 2.673rem 3.371rem 2.673rem;
                  width: 100%;

                  .status-indicator-tAm {
                    height: 100%;
                    display: flex;
                    align-items: flex-end;
                    width: 8.6729rem;

                    .ellipse-1-dPF {
                      background-color: #66cca7;
                      border-radius: 0.6682rem;
                      flex-shrink: 0;
                      margin-right: 1.3365rem;
                      width: 1.3365rem;
                      height: 1.3365rem;
                    }
                    .success-Ae5 {
                      line-height: 1.25;
                      color: #444b54;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-bottom: 0.3682rem;
                      font-size: 1.6rem;
                      font-weight: 300;
                    }
                  }
                }
                .cell-JVP {
                  overflow: hidden;
                  position: relative;
                  background-color: #ffffff;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 2.339rem 2.673rem 3.371rem 2.673rem;
                  width: 100%;
                  height: 8.0776rem;

                  .status-indicator-Sbb {
                    width: 8.6729rem;
                    height: 100%;
                    display: flex;
                    align-items: flex-end;

                    .ellipse-1-bzH {
                      flex-shrink: 0;
                      margin-right: 1.3365rem;
                      width: 1.3365rem;
                      height: 1.3365rem;
                      background-color: #66cca7;
                      border-radius: 0.6682rem;
                    }
                    .success-YPj {
                      color: #444b54;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-bottom: 0.3682rem;
                      font-size: 1.6rem;
                      font-weight: 300;
                      line-height: 1.25;
                    }
                  }
                }
              }
            }
            .table-column-GKj {
              position: absolute;
              left: 92.3835rem;
              top: 0;
              overflow: hidden;
              display: flex;
              flex-direction: column;
              width: 13.5318rem;
              height: 56.8rem;
              align-items: center;

              .header-NtZ {
                overflow: hidden;
                position: relative;
                box-shadow: inset 0 -0.3341rem 0 #e3e5e8;
                background-color: #ffffff;
                flex-shrink: 0;
                width: 100%;
                height: 8.6871rem;
              }
              .table-contents-vQH {
                width: 13.5318rem;
                height: 88.2071rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .line-3-fMs {
              width: 105.7rem;
              height: 0.2rem;
              position: absolute;
              left: 0.2rem;
              top: 24.7rem;
              background-color: #c0c0c0;
            }
            .line-5-PHs {
              width: 105.7rem;
              height: 0.2rem;
              position: absolute;
              left: 0.2rem;
              top: 32.7rem;
              background-color: #c0c0c0;
            }
            .line-6-WtH {
              top: 40.6rem;
              background-color: #c0c0c0;
              width: 105.7rem;
              height: 0.2rem;
              position: absolute;
              left: 0.2rem;
            }
            .line-7-rSM {
              background-color: #c0c0c0;
              width: 105.7rem;
              height: 0.2rem;
              position: absolute;
              left: 0.2rem;
              top: 48.1rem;
            }
            .line-4-nqo {
              top: 16.6rem;
              background-color: #c0c0c0;
              width: 105.7rem;
              height: 0.2rem;
              position: absolute;
              left: 0.2rem;
            }
          }
        }
      }
    }
    .line-1-42d {
      width: 119.7999rem;
      height: 0.1rem;
      position: absolute;
      left: 24.5rem;
      top: 9.7rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
}
