
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-page-5ms {
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;

  .background-6gy {
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 20.2rem 50.4rem 32.9rem 50.3rem;
    width: 100%;

    .loginbody-cHw {
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: flex-end;
      display: flex;

      .auto-group-bhk5-JwT {
        padding: 0rem 5.4rem 6rem 5.5rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;

        .login-puo {
          margin: 0rem 0.6rem 0.6rem 0rem;
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1.2925;
          color: #242424;
          font-family: PT Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .please-enter-you-login-and-your-password-hCu {
          line-height: 1.2925;
          color: #242424;
          font-family: PT Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 700;
        }
      }
      .login-box-o13 {
        margin-bottom: 2.1rem;
        width: 100%;
        height: 5rem;
        position: relative;
        flex-shrink: 0;

        .username-or-e-mail-XSq {
          left: 6.6rem;
          top: 1.1rem;
          font-size: 1.9rem;
          font-weight: 700;
          line-height: 1.2925;
          white-space: nowrap;
          width: 16rem;
          position: absolute;
          font-family: PT Sans, 'Source Sans Pro';
          height: 2.5rem;
          color: #b5b5b5;
        }
        .akar-icons-person-Cos {
          width: 2.4748rem;
          height: 2.8333rem;
          position: absolute;
          left: 1.9626rem;
          top: 1.0833rem;
          object-fit: contain;
          vertical-align: top;
        }
        .logininput-7fw {
          border-radius: 1rem;
          width: 43.3rem;
          height: 5rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #242424;
          box-sizing: border-box;
        }
      }
      .password-box-RRj {
        width: 100%;
        height: 5rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 0.6rem;

        .password-Znq {
          position: absolute;
          line-height: 1.2925;
          font-size: 1.9rem;
          font-weight: 700;
          color: #b5b5b5;
          font-family: PT Sans, 'Source Sans Pro';
          width: 7.7rem;
          height: 2.5rem;
          left: 6.6rem;
          top: 1.1rem;
          white-space: nowrap;
        }
        .carbon-password-UQ1 {
          width: 2.9752rem;
          height: 2.975rem;
          position: absolute;
          left: 1.7125rem;
          top: 1.1125rem;
          object-fit: contain;
          vertical-align: top;
        }
        .logininput-CL1 {
          border: solid 0.1rem #242424;
          box-sizing: border-box;
          border-radius: 1rem;
          width: 43.3rem;
          height: 5rem;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      .forgot-password-7hs {
        font-family: PT Sans, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 0.3rem 2.3rem 0rem;
        font-size: 1.8rem;
        font-weight: 400;
        color: #242424;
        line-height: 1.2925;
        font-style: italic;
        white-space: nowrap;
      }
      .btlogin-Qws {
        flex-shrink: 0;
        line-height: 1.2925;
        display: flex;
        border-radius: 1.5rem;
        font-size: 1.9rem;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 2.1rem;
        width: 100%;
        height: 5rem;
        justify-content: center;
        background-color: #1f40a8;
        font-family: PT Sans, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
      }
      .text-geV {
        margin-bottom: 2.1rem;
        display: flex;
        border: solid 0.2rem #1f40a8;
        border-radius: 1.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.2rem 10.7rem 1.3rem 10.9rem;
        width: 100%;
        align-items: center;

        .flat-color-icons-google-zv5 {
          flex-shrink: 0;
          margin: 0.1rem 1.4rem 0rem 0rem;
          width: 2rem;
          height: 2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
        .or-sign-in-with-google-vHw {
          color: #1f40a8;
          font-family: PT Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.9rem;
          font-weight: 700;
          line-height: 1.2925;
        }
      }
      .registertext-EJd {
        height: 2.4rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 11.1rem 0rem 11.2rem;
        width: calc(100% - 22.3rem);

        .register-ATB {
          font-family: PT Sans, 'Source Sans Pro';
          white-space: nowrap;
          width: 6.8rem;
          height: 2.4rem;
          left: 14.2rem;
          font-style: italic;
          color: #318abc;
          position: absolute;
          top: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2925;
        }
        .not-a-member-yet-mC5 {
          font-size: 1.8rem;
          font-family: PT Sans, 'Source Sans Pro';
          white-space: nowrap;
          width: 14.6rem;
          left: 0;
          top: 0;
          line-height: 1.2925;
          font-style: italic;
          color: #454545;
          height: 2.4rem;
          position: absolute;
          font-weight: 400;
        }
      }
    }
  }
}
